{
    "plugins": [
        "transform-class-properties"
    ],
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ],
        "@babel/react"
    ]
}
